:root {
    --highlight-color: null;
    --highlight-background: null;
}

::selection {
    color: var(--highlight-color);
    background: var(--highlight-background);
}

.highlight {
    height: 24px;
    position: relative;
    top: -28px;
    left: -10px;
    width: calc(100% + 10px);
    max-width: 100vw;
    z-index: -1;
    border-radius: 2px;
    background-color: #576574;
}

body[a="dark"] {
    filter: invert(1)
}

@media (prefers-color-scheme: dark) {
    body[a="auto"] {
        filter: invert(1)
    }
}

html,
body {
    background: white
}

html {
    height: 100%
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    margin: 0;
    min-height: 100%
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 900
}

h1 {
    font-size: 36pt;
    margin-top: 50px
}

h2 {
    font-size: 24px;
    margin-top: 30px
}

h3 {
    font-size: 22px;
    margin-top: 20px
}

h4 {
    font-size: 20px;
    margin-top: 20px
}

h5 {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 4px
}

a:link {
    color: #0000EE
}

a:visited {
    color: #0000EE
}

a:hover {
    color: white;
    background: #0000EE;
    padding: 4px;
    margin: -4px;
    text-decoration: none;
    border-radius: 2px
}

.page-content {
    max-width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem
}

code {
    padding: 4px;
    margin: -4px;
    font-weight: bold
}

pre {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem;
    border-radius: 2px;
    color: white;
    background: black
}