<header>
  <h1>cel8 User-Manual</h1>
  <p>
    cel8 v0.0.1<br>
    <a href="https://github.com/mathewmariani/cel8">
      https://github.com/mathewmariani/cel8
    </a><br>
    Author: Mathew Mariani<br>
  </p>
  <p>cel8 is built with:</p>
  <ul>
    <li>Sokol <a href="https://github.com/floooh/sokol">https://github.com/floooh/sokol</a></li>
  </ul>
</header>
<hr>
<details>
  <summary>
    Content: Program Structure | API Reference
  </summary>
  <ul>
    <li>
      <a href="#program-structure">Program Structure</a>
    </li>
    <li>
      <a href="#api-reference">API Reference</a>
      <ul>
        <li>
          <a href="#memory">Memory</a>
        </li>
        <li>
          <a href="#system">System</a>
        </li>
        <li>
          <a href="#graphics">Graphics</a>
        </li>
      </ul>
    </li>
  </ul>
</details>
<hr>