<!DOCTYPE html>
<html data-bs-theme="dark">

{{> meta}}

<body class="container" id="top">

<main class="page-content">
{{> header}}
{{{ welcome }}}
{{{ structure }}}
{{{ reference }}}
{{{ memory }}}
{{{ system }}}
{{{ graphics }}}
{{{ bitwise }}}
</main>

<footer>
{{> footer }}
</footer>

</body>
</html>